body {
  background-color: hsl(212, 45%, 89%);
}

.card {
  width: 20rem;
  padding: 1%;
  border-radius: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 0;
  text-align: center;
}

.card-img-top {
  border-radius: 2%;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

@media (max-width: 377px) {
  .card {
    width: 20rem;
    padding: 1%;
    text-align: center;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 0;
  }
}
